___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [3]:
def lesser_of_two_evens(a,b):
    if a % 2 == 1 or b % 2 == 1:
        return max(a,b)
    else:
        return min(a,b)

In [4]:
# Check
lesser_of_two_evens(2,4)

2

In [5]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [15]:
def animal_crackers(text):
    l1=text.split(" ")
    #print(l1[0][0].upper(), l1[1][0].upper() )
    if l1[0][0].upper() == l1[1][0].upper():
        return True
    else:
        return False

In [16]:
# Check
animal_crackers('Levelheaded Llama')

True

In [17]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [18]:
def makes_twenty(n1,n2):
    if n1 == 20 or n2 == 20:
        return True
    elif n1 + n2 == 20:
        return True
    else:
        return False

In [19]:
# Check
makes_twenty(20,10)

True

In [20]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [27]:
def old_macdonald(name):
    retstr=''
    for i in range(0,len(name)):
        if i == 0 or i == 3:
            retstr=retstr + name[i].upper()
        else:
            retstr=retstr + name[i]
    return retstr

In [28]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [38]:
def master_yoda(text):
    l1=text.split(" ")
    l1.reverse()
    w=" ".join(l1)
    return w

In [39]:
# Check
master_yoda('I am home')

'home am I'

In [40]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [41]:
def almost_there(n):
    if 90 <= n <=110 or 190 <= n <= 210:
        return True
    else:
        return False

In [42]:
# Check
almost_there(104)

True

In [43]:
# Check
almost_there(150)

False

In [44]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [48]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
        else:
            pass
    return False

In [49]:
# Check
has_33([1, 3, 3])

True

In [50]:
# Check
has_33([1, 3, 1, 3])

False

In [51]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [52]:
def paper_doll(text):
    retstr=''
    for i in text:
        k=i*3
        retstr=retstr + k
    return retstr

In [53]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [54]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [63]:
def blackjack(a,b,c):
    if a + b + c <= 21:
        return a + b + c
    elif a + b + c > 21 and a + b + c <= 31 and (a == 11 or b == 11 or c ==11):
        return a + b + c - 10
    else:
        return 'BUST'

In [64]:
# Check
blackjack(5,6,7)

18

In [65]:
# Check
blackjack(9,9,9)

'BUST'

In [66]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [82]:
def summer_69(arr):
    retsum=0
    sixflag=0
    if len(arr) == 0:
        return 0
    if 6 in arr:
        for i in arr:
            if i != 6 and sixflag==0:
                retsum = retsum + i
            elif i == 6:
                sixflag = 1
            elif i == 9 and sixflag == 1:
                sixflag = 0
            else:
                pass
    else:
        for i in arr:
            retsum = retsum + i
    return retsum

In [83]:
# Check
summer_69([1, 3, 5])

9

In [84]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [85]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [109]:
def spy_game(nums):
    for i in range(0, len(nums)-2):
        if nums[i] == 0 and nums[i+1] == 0 and nums[i+2] == 7:
            return True
        
    return False

In [110]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [111]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [112]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [125]:
def check_prime(val):
    for i in range(2,val):
        if val % i == 0:
            return False
    return True

def count_primes(num):
    retval=0
    for i in range(2,num+1):
        if check_prime(i):
           # print(i)
            retval += 1
    
    return retval

In [126]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [134]:
def print_big(letter):
    one="  *  "
    two1=" * * "
    two2="*   *"
    five="*****"
    if letter == 'a':
        print('\n',one,'\n',two1,'\n',five,'\n',two2, '\n', two2)

In [135]:
print_big('a')

   *
  * *
 *****
 *   *
 *   *

## Great Job!